<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaKG</title>
    <!--    <link rel="stylesheet" th:href="@{style.css}">-->
    <link rel="stylesheet" th:href="@{login.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <script type="text/javascript" th:src="@{bootstrap.js}"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="container bg-light">
<!-- 모든 것들을 중앙에 정렬 -->
<div class="container d-flex justify-content-center align-items-center">
    <div class="p-3 bg-white" id="container-data">
        <div id="data">
            <!-- 팀 프로젝트 로고 -->
            <img width="100" height="100" th:src="@{MainLogo2.png}" alt="instakg"/>
        </div>
        <div id="data">
            <h5>친구들의 사진과 동영상을 보려면 가입하세요.</h5>
        </div>
        <div id="data">
            <button class="btn btn-info bw-bold">Facebook으로 로그인</button>
        </div>
        <div id="data">
            <h6><span>또는</span></h6>
        </div>
        <div id="data">
            <input type="email" class="form-control bg-light" placeholder="휴대폰 번호 또는 이메일 주소"><br>
            <input type="password" class="form-control bg-light" placeholder="비밀번호"><br>
            <input type="password" class="form-control bg-light" placeholder="비밀번호"><br>
            <input type="password" class="form-control bg-light" placeholder="비밀번호"><br>
            <button class="btn btn-info bw-bold">가입</button>
        </div>

        <div id="data">
            <img width="15" height="15" th:src="@{facebook-icon.jpg}"><span class="bi bi-facebook"></span>Facebook으로 로그인
            <p class="h6"><a href="#">비밀번호를 잊으셨나요?</a></p>

        </div>
    </div>
</div>
<!-- 아래 박스 설정 -->
<div class="container2 d-flex justify-content-center align-items-center">
    <div class="bg-white" id="container2-data">
        <div id="join">
            <p>계정이 있으신가요? <a href="#">로그인</a></p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>